# Cargas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install python-docx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     |████████████████████████████████| 5.6 MB 4.9 MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.9.1)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=3fb1976a576dbec097198423b03cc69f155e6458dd8d2e0e4a847c44fc851c12
  Stored in directory: /root/.cache/pip/wheels/f6/6f/b9/d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [ ]:
from docx import Document
import pandas as pd
import numpy as np
from itertools import islice
import itertools
import os
import uuid
import time

output_path = '/'

# Funciones

In [ ]:
def get_unique_list(data):
  list_of_lists = data2
  data_unique = []
  for i in list_of_lists:
    if i not in data_unique:
      data_unique.append(i)

  data_final = []
  for i in data_unique:
    for j in i:
      j = j.strip('\n').strip(' ')
      data_final.append(j)

  return data_final

In [ ]:
def get_table_index(list_tables, value):
  data2 = []
  miles_index = []
  for table in list_tables:
    for i, row in enumerate(table.rows[:]):
      text = (cell.text for cell in row.cells)
      text = list(text)
      for i in text:
        data2.append(text)

    list_of_lists = data2
    data_unique = []
    for i in list_of_lists:
      if i not in data_unique:
        data_unique.append(i)

    for sublist in data_unique:
      for i in sublist:
        if i == str(value):
          miles_index.append(list_tables.index(table))
        else:
          pass
    
  return miles_index[0]


def get_table_index_2(list_tables, value):
  data2 = []
  miles_index = []
  for table in list_tables:
    for i, row in enumerate(table.rows[:]):
      text = (cell.text for cell in row.cells)
      text = list(text)
      for i in text:
        data2.append(text)

    list_of_lists = data2
    data_unique = []
    for i in list_of_lists:
      if i not in data_unique:
        data_unique.append(i)

    for sublist in data_unique:
      for i in sublist:
        if str(value) in i:
          miles_index.append(list_tables.index(table))
        else:
          pass
    
  return miles_index[0]

def get_table_index_3(list_tables, value):
  data2 = []
  miles_index = []
  for table in list_tables:
    for i, row in enumerate(table.rows[:]):
      text = (cell.text for cell in row.cells)
      text = list(text)
      for i in text:
        data2.append(text)

    list_of_lists = data2
    data_unique = []
    for i in list_of_lists:
      if i not in data_unique:
        data_unique.append(i)

    for sublist in data_unique:
      for i in sublist:
        if i == str(value):
          miles_index.append(list_tables.index(table))
        else:
          pass
    
  return miles_index

In [ ]:
def get_index(iterable, value, n):
    matches = (idx for idx, val in enumerate(iterable) if value in val)
    return next(islice(matches, n-1, n), None)

# DataTable1

## Formato 1

In [ ]:
entity_1 = []
agency_1 = []
event_1 = []
agency_representative_1 = []
client_representative_1 = []
agreement_name_1 = []
UID_1 = []
time_1 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]
for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables
  data = []

  for table in tables:
    for i, row in enumerate (table.rows[:]):
      row_content = []
      for cell in row.cells[:]:
        c = cell.text
        c = c.strip("\n").strip("\t")
        c = c.replace('\n', ' ')
        row_content.append(c)
      data.append(row_content)
  
  created = os.path.getctime(words_path+file)
  created = time.strftime('%d-%m-%Y')

  time_1.append(created)
  entity_1.append(data[0][1])
  agency_1.append(data[3][1])
  event_1.append(data[7][1].split(' ')[0] + ' ' + data[7][1].split(' ')[1] + ' ' + data[7][1].split(' ')[2])
  agency_representative_1.append(data[10][0].strip('Name: '))
  client_representative_1.append(data[10][1].strip('Name: '))
  agreement_name_1.append(str(file))
  UIDtemp = str(uuid.uuid4())
  UID_1.append(UIDtemp)

## Formato 2

In [ ]:
entity_2 = []
agency_2 = []
event_2 = []
agency_representative_2 = []
client_representative_2 = []
agreement_name_2 = []
UID_2 = []
time_2 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  data = []

  for table in tables:
    for i, row in enumerate (table.rows[:]):
      row_content = []
      for cell in row.cells[:]:
        c = cell.text
        c = c.strip("\n").strip("\t")
        c = c.replace('\n', ' ')
        row_content.append(c)
      data.append(row_content)

  created = os.path.getctime(words_path+file)
  created = time.strftime('%d-%m-%Y')

  time_2.append(created)
  entity_2.append(data[0][1])
  agency_2.append(data[3][1])
  event_2.append(data[7][1].split(' ')[0] + ' ' + data[7][1].split(' ')[1] + ' ' + data[7][1].split(' ')[2])
  agency_representative_2.append(data[12][0].strip('Name: '))
  client_representative_2.append(data[12][1].strip('Name: '))
  agreement_name_2.append(str(file))
  UIDtemp = str(uuid.uuid4())
  UID_2.append(UIDtemp)

## Unificación

In [ ]:
entity = []
agency = []
event = []
agency_representative = []
client_representative = []
agreement_name = []
UID = []
time = []

entity += entity_1
entity += entity_2

agency += agency_1
agency += agency_2

event += event_1
event += event_2

agency_representative += agency_representative_1
agency_representative += agency_representative_2

client_representative += client_representative_1
client_representative += client_representative_2

agreement_name += agreement_name_1
agreement_name += agreement_name_2

UID += UID_1
UID += UID_2

time += time_1
time += time_2

In [ ]:
DataTable1 = {'Agency':agency,
              'Entity (Client)':entity,
              'Agency Representative (Name)':agency_representative,
              'Client Representative (Name)':client_representative,
              'Date':time,
              'Agreement Name':agreement_name,
              'Event':event
             }

DataTable1 = pd.DataFrame(DataTable1)
DataTable1.to_excel(str(output_path) + 'DataTable1.xlsx')

In [ ]:
DataTable1

,Agency,Entity (Client),Agency Representative (Name),Client Representative (Name),Date,Agreement Name,Event
0,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",,,28-10-2022,Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour
1,Agency1,Entity1,Agency Rep 1,Client Rep 1,28-10-2022,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis
2,Sparks Exhibits & Environments Corp.,"Salesforce, Inc.",Martha Yaquian,,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower
3,"Sparks Exhibits & Environments Corp, a Pennsyl...","Salesforce.com, Inc.",,,28-10-2022,Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic

# DataTable 2

## Formato 1

In [ ]:
milestone_name_1 = []
service_end_date_1 = []
payment_terms_1 = []
UIDtemp_1 = []
agreement_name_1 = []
milestone_start_date_1 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  table_index = get_table_index(tables, '\nMilestone')

  data2 = []
  keys = None
  for i, row in enumerate(tables[table_index].rows[:]):
    text = (cell.text for cell in row.cells)
    text = list(text)
    for i in text:
      data2.append(text)

  data3 = get_unique_list(data2)

  milestone_index = get_index(data3,'Milestone',1)
  milestone_name = []
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[milestone_index + 6]
      if name not in milestone_name:
        milestone_name.append(name)
        milestone_name_1.append(name)
        milestone_index += 6
      else:
        milestone_index += 6
      cuenta += 1
    except:
      break
  
  SED_index = get_index(data3,'Service End Date',1)
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[SED_index + 1]
      service_end_date_1.append(name)
      SED_index += 24
      cuenta += 1
    except:
      break

  try:
    table_index = get_table_index(tables, '\nPayment Terms')
    table_index_list = [table_index]
  except:
    table_index_list = [None]    
    
  data2 = []
  keys = None

  if table_index_list[0] != None:
    for i, row in enumerate(tables[table_index].rows[:]):
      text = (cell.text for cell in row.cells)
      text = list(text)
      for i in text:
        data2.append(text)

    data3 = get_unique_list(data2)

    payment_index = get_index(data3,'Payment Terms',1)
    cuenta = 0
    while cuenta < 100:
      try:
        name = data3[payment_index + 6]
        if name != '':
          payment_terms_1.append(name)
          payment_index += 24

        cuenta += 1
        
      except:
        break
  else:
    for i in range(0, len(milestone_name)):
      payment_terms_1.append('-')

  UID_1 = str(uuid.uuid4())
  for i in range(0, len(milestone_name)):
    UIDtemp_1.append(UID_1)
  
  filename1 = str(file)
  for i in range(0, len(milestone_name)):
    agreement_name_1.append(filename1)
    
  for i in range(0, len(milestone_name)):
    milestone_start_date_1.append('-')

## Formato 2

In [ ]:
milestone_name_2 = []
service_end_date_2 = []
payment_terms_2 = []
UIDtemp_2 = []
agreement_name_2 = []
milestone_start_date_2 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  table_index = get_table_index(tables, 'Milestone\nNo.')

  data2 = []
  keys = None
  for i, row in enumerate(tables[table_index].rows[:]):
    text = (cell.text for cell in row.cells)
    text = list(text)
    for i in text:
      data2.append(text)

  data3 = get_unique_list(data2)

  milestone_index = get_index(data3,'Milestone\nNo.',1)
  milestone_name = []
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[milestone_index + 8]
      if name not in milestone_name:
        milestone_name.append(name)
        milestone_name_2.append(name)
        milestone_index += 8
      else:
        milestone_index += 8
      cuenta += 1
    except:
      break

  SED_index = get_index(data3,'Milestone End Date',1)
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[SED_index + 8]
      service_end_date_2.append(name)
      SED_index += 8
      cuenta += 1
    except:
      break

  MSD_index = get_index(data3,'Milestone Start Date',1)
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[MSD_index + 8]
      milestone_start_date_2.append(name)
      MSD_index += 8
      cuenta += 1
    except:
      break

  try:
    table_index = get_table_index(tables, 'Payment Terms')
  except:
    table_index = [None]    
    
  data2 = []
  keys = None

  if table_index[0] != None:
    for i, row in enumerate(tables[table_index].rows[:]):
      text = (cell.text for cell in row.cells)
      text = list(text)
      for i in text:
        data2.append(text)

    data3 = get_unique_list(data2)

    payment_index = get_index(data3,'Payment Terms',1)
    cuenta = 0
    while cuenta < 100:
      try:
        name = data3[payment_index + 6]
        
        if name != '':            
          if len(milestone_name) > 1:
            for r in range(0, len(milestone_name)):
              payment_terms_2.append(name)
          else:
            payment_terms_2.append(name)
          payment_index += 6
        else:
          pass
        cuenta += 1        
      except:
        break
  else:
    for i in range(0, len(milestone_name)):
      payment_terms_2.append('-') 

  UID_2 = str(uuid.uuid4())
  for i in range(0, len(milestone_name)):
    UIDtemp_2.append(UID_2)
  
  filename2 = str(file)
  for i in range(0, len(milestone_name)):
    agreement_name_2.append(filename2)

## Unificación

In [ ]:
milestone_name = []
milestone_start_date = []
service_end_date = []
payment_terms = []
UID = []
agreement_name = []

payment_terms += payment_terms_1
service_end_date += service_end_date_1
milestone_name += milestone_name_1
milestone_start_date += milestone_start_date_1
UID += UIDtemp_1
agreement_name += agreement_name_1

payment_terms += payment_terms_2
milestone_start_date += milestone_start_date_2
service_end_date += service_end_date_2
milestone_name += milestone_name_2 
UID += UIDtemp_2
agreement_name += agreement_name_2

In [ ]:
print(len(milestone_name))
print(len(milestone_start_date))
print(len(service_end_date))
print(len(payment_terms))
print(len(UID))
print(len(agreement_name))

11
11
11
11
11
11

In [ ]:
DataTable2_1 = {'Milestone Name':milestone_name,
              'Milestone Start Date':milestone_start_date,
              'Milestone End Date':service_end_date,
              'Payment Terms':payment_terms,
              'Agreement Name':agreement_name
               }

DataTable2_1 = pd.DataFrame(DataTable2_1)
DataTable2 = DataTable1[['Agency','Entity (Client)','Agreement Name','Event']].merge(DataTable2_1, on='Agreement Name', how='left')
DataTable2.to_excel(str(output_path) + 'DataTable2.xlsx')

In [ ]:
DataTable2

,Agency,Entity (Client),Agreement Name,Event,Milestone Name,Milestone Start Date,Milestone End Date,Payment Terms
0,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,1,-,10/31/2022,Net 10
1,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,2,-,10/31/2022,Net 40
2,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,1,-,9/23/2022,Net 10
3,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,2,-,9/23/2022,Net 40
4,Sparks Exhibits & Environments Corp.,"Salesforce, Inc.",Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,Launch Milestone,7/14/2022,7/14/20222,-
5,Sparks Exhibits & Environments Corp.,"Salesforce, Inc.",Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,Production Milestone,7/14/2022,5/1/2023,-
6,Sparks Exhibits & Environments Corp.,"Salesforce, Inc.",Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,On-Site Milestone,5/1/2023,6/28/2023,-
7,Sparks Exhibits & Environments Corp.,"Salesforce, Inc.",Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,Post Execution Milestone,6/28/2023,7/1/2023,-
8,"Sparks Exhibits & Environments Corp, a Pennsyl...","Salesforce.com, Inc.",Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,Pre-Event/Execution,10/25/2022,10/27/2022,-
9,"Sparks Exhibits & Environments Corp, a Pennsyl...","Salesforce.com, Inc.",Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,On-Site,12/1/2022,12/1/2022,-
10,"Sparks Exhibits & Environments Corp, a Pennsyl...","Salesforce.com, Inc.",Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,Post-Execution,12/2/2022,12/15/2022,-

# DataTable 3

## Formato 2

In [ ]:
milestone_name_2 = []
resource_name_2 = []
title_2 = []
unit_cost_2 = []
qty_2 = []
net_cost_2 = []
UID_2 = []
agreement_name_2 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  table_index = get_table_index_2(tables, 'Employer of Personnel')

  data2 = []
  keys = None
  for i, row in enumerate(tables[table_index].rows[:]):
    text = (cell.text for cell in row.cells)
    text = list(text)
    for i in text:
      data2.append(text)

  data3_1 = get_unique_list(data2)
  data3 = []
  for i in data3_1:
    if 'TOTAL' not in i.upper() and 'DISCOUNT' not in i.upper():
      data3.append(i)
    else:
      pass
  data3 = data3[0:-3]

  milestone_index = get_index(data3,'Milestone No',1)
  milestone_name = []
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[milestone_index + 8]
      if name != '':
        milestone_name.append(name)
        milestone_name_2.append(name)
        milestone_index += 10
      else:
        milestone_index += 10
      cuenta += 1
    except:
      break

  resource_name_index = get_index(data3, 'Employer of Personnel', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      rn = data3[resource_name_index + 8]
      if rn != '':
        resource_name_2.append(rn)
        resource_name_index += 10
      else:
        resource_name_index += 10
      cuenta += 1
    except:
      break 

  title_index = get_index(data3, 'Title', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      tl = data3[title_index + 8]
      if tl != '':
        title_2.append(tl)
        title_index += 10
      else:
        title_index += 10
      cuenta += 1
    except:
      break

  unit_cost_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      uc = data3[unit_cost_index + 8]
      if uc != '':
        unit_cost_2.append(uc)
        unit_cost_index += 10
      else:
        unit_cost_index += 10
      cuenta += 1
    except:
      break  

  qty_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      qt = data3[qty_index + 9]
      if qt != '':
        qty_2.append(qt)
        qty_index += 10
      else:
        qty_index += 10
      cuenta += 1
    except:
      break  

  net_cost_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      nc = data3[net_cost_index + 10]
      if nc != '' and 'TOTAL' not in nc:
        net_cost_2.append(nc)
        net_cost_index += 10
      else:
        net_cost_index += 10
      cuenta += 1
    except:
      break

  UID2 = str(uuid.uuid4())
  for i in range(0, len(milestone_name)):
    UID_2.append(UID2)
  
  filename2 = str(file)
  for i in range(0, len(milestone_name)):
    agreement_name_2.append(filename2)

print(len(milestone_name_2))
print(len(title_2))
print(len(resource_name_2))
print(len(unit_cost_2))
print(len(qty_2))
print(len(net_cost_2))
print(len(agreement_name_2))
print(len(UID_2))

15
15
15
15
15
15
15
15

## Formato 3

In [ ]:
milestone_name_3 = []
resource_name_3 = []
title_3 = []
unit_cost_3 = []
qty_3 = []
net_cost_3 = []
UID_3 = []
agreement_name_3 = []

In [ ]:
words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  table_index = get_table_index_2(tables, 'Employer of Personnel')

  data2 = []
  keys = None
  for i, row in enumerate(tables[table_index].rows[:]):
    text = (cell.text for cell in row.cells)
    text = list(text)
    for i in text:
      data2.append(text)

  data3_1 = get_unique_list(data2)
  # data3 = [i for i in data3 if i != 'TOTAL:' and i != 'VP of Strategic Accounts Discount' and i != '4% Services Discount']
  data3 = []
  for i in data3_1:
    if 'TOTAL' not in i.upper() and 'DISCOUNT' not in i.upper():
      data3.append(i)
    else:
      pass
  data3 = data3[0:-3]

  milestone_index = get_index(data3,'Milestone No',1)
  milestone_name = []
  cuenta = 0
  while cuenta < 100:
    try:
      name = data3[milestone_index + 10]
      if name != '':
        milestone_name_3.append(name)
        milestone_name.append(name)
        milestone_index += 12
      else:
        milestone_index += 12
      cuenta += 1
    except:
      break

  resource_name_index = get_index(data3, 'Employer of Personnel', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      rn = data3[resource_name_index + 10]
      if rn != '':
        resource_name_3.append(rn)
        resource_name_index += 12
      else:
        resource_name_index += 12
      cuenta += 1
    except:
      break 

  title_index = get_index(data3, 'Title', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      tl = data3[title_index + 10]
      if tl != '':
        title_3.append(tl)
        title_index += 12
      else:
        title_index += 12
      cuenta += 1
    except:
      break

  unit_cost_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      uc = data3[unit_cost_index + 10]
      if uc != '':
        unit_cost_3.append(uc)
        unit_cost_index += 12
      else:
        unit_cost_index += 12
      cuenta += 1
    except:
      break 

  qty_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      qt = data3[qty_index + 11]
      if qt != '':
        qty_3.append(qt)
        qty_index += 12
      else:
        qty_index += 12
      cuenta += 1
    except:
      break  

  net_cost_index = get_index(data3, 'Hourly Rate', 1)
  cuenta = 0
  while cuenta < 100:
    try:
      nc = data3[net_cost_index + 12]
      if nc != '' and 'TOTAL' not in nc:
        net_cost_3.append(nc)
        net_cost_index += 12
      else:
        net_cost_index += 12
      cuenta += 1
    except:
      break

  UID3 = str(uuid.uuid4())
  for i in range(0, len(milestone_name)):
    UID_3.append(UID3)
  
  filename3 = str(file)
  for i in range(0, len(milestone_name)):
    agreement_name_3.append(filename3)

print(len(milestone_name_3))
print(len(title_3))
print(len(resource_name_3))
print(len(unit_cost_3))
print(len(qty_3))
print(len(net_cost_3))
print(len(agreement_name_3))
print(len(UID_3))

0
0
0
0
0
0
0
0

## Unificación

In [ ]:
milestone_name = []
resource_name = []
title = []
unit_cost = []
qty = []
net_cost = []
UID = []
agreement_name = []

milestone_name += milestone_name_2
milestone_name += milestone_name_3

resource_name += resource_name_2
resource_name += resource_name_3

title += title_2
title += title_3

unit_cost += unit_cost_2
unit_cost += unit_cost_3

qty += qty_2
qty += qty_3

net_cost += net_cost_2
net_cost += net_cost_3

UID += UID_2
UID += UID_3

agreement_name += agreement_name_2
agreement_name += agreement_name_3

In [ ]:
DataTable3_1 = {'Milestone':milestone_name,
              'Title':title,
              'Resource Name':resource_name,
              'Unit Cost': unit_cost,
              'Qty':qty,
              'Net Cost':net_cost,
              'Agreement Name':agreement_name    
             }

DataTable3_1 = pd.DataFrame(DataTable3_1)
DataTable3 = DataTable1[['Agency','Date','Agreement Name','Event']].merge(DataTable3_1, on='Agreement Name', how='left')
DataTable3.dropna(inplace=True)
DataTable3.to_excel(str(output_path) + 'DataTable3.xlsx')

In [ ]:
DataTable3

,Agency,Date,Agreement Name,Event,Milestone,Title,Resource Name,Unit Cost,Qty,Net Cost
2,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,LAUNCH MILESTONE,VP Strategic Accounts,Sparks,$175,1.00,$175.00
3,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE /PRODUCTION MILESTONE,VP Strategic Accounts,Sparks,$175,50.00,"$8,750.00"
4,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,LAUNCH / PMM MILESTONE /PRODUCTION MILESTONE,Account Director,Sparks,$150,26.00,"$3,900.00"
5,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,LAUNCH / PMM MILESTONE / PRODUCTION MILESTONE ...,Sr. Account Manager,Sparks,$115,181.00,"$20,815.00"
6,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE /PRODUCTION MILESTONE,Sr. Project Manager,Sparks,$125,220,"$27,500.00"
7,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,Project Manager,Sparks,$115,190,"$21,850"
8,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,Sparks Supervisor,Sparks,"$1,250 per day",(14) days,"$17,500.00"
9,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,VP Creative,Sparks,$165,81,"$13,365.00"
10,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,Account Coordinator,Sparks,$85,100,"$8,500.00"
11,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,Engineer,Sparks,$105,175.00,"$18,375.00"
12,Sparks Exhibits & Environments Corp.,28-10-2022,Ej 2 - SparksSOW1SydneyTower_SparksUS_AUSProdu...,Salesforce Sydney Tower,PMM MILESTONE,Sr. Graphic Design,Sparks,$115,100,"$11,500.00"
13,"Sparks Exhibits & Environments Corp, a Pennsyl...",28-10-2022,Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,1,VP Strategic Accounts,Sparks,$175.00,1,$175.00
14,"Sparks Exhibits & Environments Corp, a Pennsyl...",28-10-2022,Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,1,Sr. Account Manager,Sparks,$115.00,5,$575.00
15,"Sparks Exhibits & Environments Corp, a Pennsyl...",28-10-2022,Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,1,Project Manager,Sparks,$115.00,16,"$1,840.00"
16,"Sparks Exhibits & Environments Corp, a Pennsyl...",28-10-2022,Ej 2 - SFRESOW1MultiTenantWallGraphicWrap11.docx,Multi-Tenant Wall Graphic,3,Sr. Account Manager,Sparks,$115.00,1,$115.00

# DataTable 4

## Formato 1

In [ ]:
item_description = []
vendor = []
unit_cost = []
qty = []
net_cost = []
taxes = []
UID = []
agreement_name = []

words_path = '..'
files = [f for f in os.listdir(words_path) if f.endswith(".docx")]

for file in files:
  word_file = Document(words_path + file)
  tables = word_file.tables

  item_description_2 = []

  data = []

  table_index = get_table_index_3(tables, 'Detailed Event Budget')
  detail_tables = []

  for table in table_index:
    if table not in detail_tables:
      detail_tables.append(table)

      for table in detail_tables:
        for i, row in enumerate (tables[table].rows[:]):
          row_content = []
          for cell in row.cells[:]:
            c = cell.text
            c = c.strip("\n").strip("\t")
            c = c.replace('\n', ' ')
            row_content.append(c)
          data.append(row_content)

        description_index = get_index(data[0], 'Detailed Event Budget', 1)
        vendor_index = get_index(data[0], 'Vendor', 1)
        unit_cost_index = get_index(data[0], 'Cost', 1)
        qty_index = get_index(data[0], 'Qty', 1)
        net_cost_index = get_index(data[0], 'Net USD', 1)
        tax_index = get_index(data[0], 'Taxes USD', 1)


        for i in range(1,len(data)-1):
          description = data[i][description_index].replace('\t','')
          item_description_2.append(description)
          item_description.append(description)

          vendor_2 = data[i][vendor_index].replace('\t','')
          vendor.append(vendor_2)

          unit_cost_2 = data[i][unit_cost_index].replace('\t','')
          unit_cost.append(unit_cost_2)

          qty_2 = data[i][qty_index].replace('\t','')
          qty.append(qty_2)

          net_cost_2 = data[i][net_cost_index].replace('\t','')
          net_cost.append(net_cost_2)

          tax_2 = data[i][tax_index].replace('\t','')
          taxes.append(tax_2)

  UID1 = []
  UID1 = str(uuid.uuid4())
  for i in range(0, len(item_description_2)):
    UID.append(UID1)

  filename1 = []
  filename1 = str(file)
  for i in range(0, len(item_description_2)):
    agreement_name.append(filename1)

print(len(item_description))
print(len(vendor))
print(len(unit_cost))
print(len(net_cost))
print(len(taxes))
print(len(qty))
print(len(agreement_name))
print(len(UID))

38312
38312
38312
38312
38312
38312
38312
38312

In [ ]:
DataTable4_1 = {'Item Description':item_description,
              'Vendor':vendor,
              'Unit Cost':unit_cost,
              'Qty':qty,
              'Net Cost':net_cost,
              'Taxes $':taxes,
              'Agreement Name':agreement_name
             }

DataTable4_1 = pd.DataFrame(DataTable4_1)
DataTable4 = DataTable1[['Agency','Entity (Client)','Agreement Name','Event']].merge(DataTable4_1, on='Agreement Name', how='left')
DataTable4 = DataTable4.apply(lambda x: x.replace('', np.nan))
DataTable4.dropna(inplace=True)
DataTable4.to_excel(str(output_path) + 'DataTable4.xlsx')

In [ ]:
DataTable4

,Agency,Entity (Client),Agreement Name,Event,Item Description,Vendor,Unit Cost,Qty,Net Cost,Taxes $
3,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,Lanyards,AnyPromo,$2.75,35705,"$ 98,188.75",$-
4,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,Set up Fee - per color,AnyPromo,$25.00,4,$100.00,$-
5,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,Shipping,AnyPromo,"$ 2,500.00",1,"$ 2,500.00",$-
6,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,AnyPromo Credit,AnyPromo,"$ (4,500.00)",1,"$ (4,500.00)",$-
7,"Opus Solutions, LLC d/b/a Opus Agency, an Oreg...","SALESFORCE.COM, INC., A DELAWARE CORPORATION",Ej 1 - S3MTPQ43SFFY24WorldTourRegistrationMate...,FY24 World Tour,Sr. Project Coordinator,Opus,$ 131.00,5,$655.00,$-
...,...,...,...,...,...,...,...,...,...,...
38305,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,Vignettes,Organized Events,$ 750.00,8.00,"$6,000.00",$-
38306,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,Medium Rectangle Low Centerpiece,Organized Events,$ 225.00,4.00,$900.00,$-
38307,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,LR Scanner,Rainfocus,$ 175.00,2.00,$350.00,$-
38308,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,Character,T3,$ 500.00,2.00,"$1,000.00",$86.30
38309,Agency1,Entity1,Copia de Copia de Ejemplo1.docx,<Event> Marriott Marquis,Beverage Station,TBD,"$10,000.00",2.00,"$20,000.00",$-